<!-- views/index.handlebars -->


    <div class="jumbotron text-center jumbotron-blue">
        <h1><span class="fa fa-lock"></span> ADMIN</h1>
    </div>

    <div class="col-sm-12">
                <h3>All Data</h3>
                    {{#if TestLog}}        
                   
                        {{#each TestLog}}
                        <h4>{{name}}</h4>
                        <p>
                        <strong>Semester</strong>: {{fitnessData.semester}}<br />
                        <strong>Test 1</strong>: {{fitnessData.testOne}}<br />
                        <strong>Test 2</strong>: {{fitnessData.testTwo}}<br />
                        <strong>Test 2</strong>: {{fitnessData.testThree}}<br />
                        </p>
                        {{/each}}
                    {{else}}
                        <p> No Logs</p>
                    {{/if}}
        </div>

