

    <div class="page-header text-center">
        <h1>Profile Page</h1>
    </div>

    <div class="row">
        

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <div class="userImage">
                    <img src="/images/user_placeholder.png" />
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <div class="well userContainer">
                <div class="userInformation">
                <h3><span class="fa fa-user"></span> User</h3>

                    <p>
                        {{user.local.username}}
                    </p>
                    <p>
                        {{user.firstName}}
                    </p>
                    <p>
                        {{user.lastName}}
                    </p>

                    <p>
                        {{user.yearLevel}}
                    </p>
                </div>
                <div class="userUpdate">
                    <a href="/updateDetails" class="btn btn-lg fitnessButtons">Update Information</a>
                    <a href="/resetPassword" class="btn btn-lg fitnessButtons">Reset Password</a>
                </div>

            </div>
        </div>
    </div>
        
    <div class="row">    
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> DATA</h3>
                    {{#if TestLog}}        
                   
                        {{#each TestLog}}
                        <p>
                        <strong>Term</strong>: {{term}}<br />
                        <strong>Test 1</strong>: {{testOne}}<br />
                        <strong>Test 2</strong>: {{testTwo}}<br />
                        <strong>Test 2</strong>: {{testThree}}<br />
                        </p>
                        {{/each}}
                    {{else}}
                        <p> No Logs</p>
                    {{/if}}
            </div>
        </div>
        

    </div>


