
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Tests</h1>

    <!-- show any messages that come back with authentication -->
    

    <!-- TEST FORM -->
    <form action="/addtest" method="post">
        <div class="form-group">
            <label>Name</label>
            <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
        <div class="form-group">
          <label for="sel1">Semester:</label>
          <select class="form-control" id="semester" name="semester">
            <option>2017 Semester 2</option>
            <option>2018 Semester 1</option>
            <option>2018 Semester 2</option>
            <option>2019 Semester 1</option>
            <option>2019 Semester 2</option>
          </select>
        </div>
        <div class="form-group">
            <label>Test 1</label>
            <input type="text" class="form-control" name="test1">
        </div>
        <div class="form-group">
            <label>Test 2</label>
            <input type="text" class="form-control" name="test2">
        </div>
        <div class="form-group">
            <label>Test 3</label>
            <input type="text" class="form-control" name="test3">
        </div>

        <div class="form-group">
            <input type="text" class="hidden" name="id" value="{{user._id}}">
            <input type="text" class="hidden" name="name" value="{{user.firstName}} {{user.lastName}}">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Enter Records</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
